/* universal styling */
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
  font-size: 62.5%;
  overflow-x: hidden;
  }
/* stylling the header */
header {
  background-color: var(--main-color);
  text-decoration-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.social-media h1,
p {
  font-size: x-large;
  font-weight: 900;
}

h3 {
  font-size: larger;
}

header h1 {
  margin: 0;
  color: black;
}


main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

#fruits {
  width: 60%;
}

#cart {
  width: 35%;
}

.fruit-list {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

}

#adminSec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

#admUpdates,
#fruitUpdates {
  display: flex;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: 500;
}

.fruit-list p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.fruit {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--bg-color);
  transition: .5s ease-in;
}

.fruit:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.fruit img {
  width: 300px;
  height: 150px;
  object-fit: cover;
}

.fruit p {
  margin: 0;
}

.cart-list {

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cart-item {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

.cart-item button {

  font-weight: bold;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

}

.cart-item button:hover {
  background-color: #e53935;
}

.total {

  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
}

#buy-button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: rgb(0, 255, 0);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

#btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: rgb(0, 255, 0);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

#btn:hover {
  box-shadow: none;
}

#del {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: red;
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

#del:hover {
  box-shadow: none;
}

input {
  background-color: whitesmoke;
}